<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <!-- Imagen del logo a la izquierda -->
    <div class="imagenlogo">
      <img src="img/logo-removebg-preview.png" width="100%" height="100%" alt="Logo">
    </div>

    <!-- Botón de colapso (para dispositivos móviles) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Elementos de navegación centrados -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Características</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Recetas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-disabled="true">Sobre nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-disabled="true">Noticias</a>
        </li>
      </ul>
    </div>

    <!-- Botón de login a la derecha -->
    <div class="d-flex ms-auto">
      <button class="btn btn-success" (click)="gotologin()">Inicio de sesión</button>
    </div>
  </div>
</nav>
<section class="container-xxl pt">
  <div class="row">
    <div class="col-6 medio">
        <div class="textos">
          <h1>Descubra y comparta deliciosas recetas</h1>
          <p>Foodie es una plataforma moderna e intuitiva que conecta a los amantes de la comida
            cocineros caseros y chefs profesionales. Explora una variada colección de recetas
            comparte tus creaciones y conecta con una vibrante comunidad.</p>
          <div class="botones">
            <button class="btn btn-dark">Descargar en Adroid</button>
            <button class="btn btn-dark bt">Descargar en iOS</button>

          </div>
        </div>
    </div>
    <div class="col-6 image">
      <div class="imagen">
        <img src="img/pexels-ash-craig-122861-376464.jpg" width="100%" height="100%" alt="">
      </div>
    </div>
  </div>
</section>
<section class="container-xxl pt">
  <div class="row">
    <div class="col-6">
      <div class="textos">
        <h2>Nuestra misión: Unir a la gente a través de la Foodie</h2>
        <p>En Foodie creemos que la comida tiene el poder de conectar a las personas,
          fomentar la comunidad e inspirar la creatividad. Nuestra misión es crear una plataforma
          plataforma que celebre el placer de cocinar, compartir y descubrir nuevas experiencias culinarias.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="primero">
        <!-- <div class="circulo"><i class="bi bi-cloud-fog white"></i></div> -->
        <div class="info">
          <h5>Recetas variadas</h5>
          <p>Explore una amplia gama de cocinas, preferencias dietéticas y estilos culinarios.</p>
        </div>
      </div>
    </div>
  </div>
</section>
