<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <!-- Imagen del logo a la izquierda -->
    <div  class="imagenlogo" (click)="navigationTo('perfil')">
      <img id="profile-img-container" src="img/logo-removebg-preview.png" width="100%" height="100%" alt="Logo">
    </div>

    <!-- Botón de colapso (para dispositivos móviles) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Elementos de navegación centrados -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="nav nav-underline mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let menuItem of menuItems">
          <a class="nav-link"
             [ngClass]="{'active': vistaActiva === menuItem.nombreVista}"
             aria-current="page"
             (click)="navigationTo(menuItem.nombreVista)">
            <span [innerHTML]="menuItem.vistaIconos"></span> <b>{{menuItem.nombreVista}}</b>
          </a>
        </li>
      </ul>
    </div>

    <!-- Botón de login a la derecha -->
    <div class="d-flex ms-auto">
      <button class="btn btn-success" (click)="salir()">Salir</button>
    </div>
  </div>
</nav>
